@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
    --primaryColor: rgb(13, 106, 134);
    --primaryColor-darker: rgb(9, 48, 56);
    --primaryColor-active: rgb(17, 103, 121);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primaryColor);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

section p {
    font-size: bold;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

form input,
form label,
form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primaryColor);
}

form button {
    border: none;
    background-color: var(--primaryColor);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {
    background-color: var(--primaryColor-darker);
}

form button:active {
    background-color: var(--primaryColor-active);
}

.paragrafo-resultado,
.paragrafo-resultado-error {
    background: rgb(109, 255, 182);
    padding: 10px 20px;
}

.paragrafo-resultado-error {
    background: rgb(255, 106, 106);
}